*.class

.idea/*.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

database/weka/data/*
database/weka/data_static/*
database/weka/model/*
database/weka/statistic/*
database/weka/test/*

src/sample/history/*

out/*